<html>
<body>
<h>Request book here:</h>
<form action="#" method='POST'>
{% csrf_token %}
Car_name:<select  name='Car_name'><br>
  <option value="Toyota Land Cruiser">Toyota Land Cruiser</option>
  <option value="WagonR">WagonR</option>
  <option value="Fortuner">Fortuner</option>
  <option value="Audi A4">Audi A4</option>
  <option value="Creta">Creta</option>
</select><br><br>
{%for a in User%}
First name:<input type="text" name="first_name"  value={{a.first_name}}  <br><br><br>
Last name:<input type="text" name="last_name" value={{a.last_name}}   <br><br><br>
{%endfor%}
Request_date: <input type="text" name="Request_date"> <br> <br>
Return_date: <input type="text" name="Return_date"> <br><br> 
<input type="submit" name="Bookcar" value="Bookcar">
</form>
</body>
</html>
